#logo{
    width: 80px;
    height: 80px;
}
#logo:hover{
    background-color: #2d3c49;
    transition: 0.8s;
}
header{
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom-style:solid;
    border-bottom-color: #7d97ad;
    border-bottom-width: 5px;
}
#name{
    color: #2d3c49;
    font-size: 50px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
#title{
    color: #2d3c49;
    font-size: 25px;
    text-align: right;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
#head-logo{
    margin-bottom: 20px;
}
#head-content{
    margin-bottom: 20px;
}
img{
    width: 100%;
}
#first-image{
    width: 80%;
    height:300px;
    background-image: url("first-image.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
#first-image:hover{
    cursor: zoom-in;
    background-image: url("6.png");
    background-size: contain;
    background-position-x: 50%;
    height:300px;
}
#first-image:active{
    background-image: url("1.png");
    background-size: cover;
}
#bottom-head{
    color:#7d97ad;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 15px;
}
#social-networks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
}
.social{
    width: 250px;
    height: 250px;
}
.social:hover{
    border-radius: 50%;
    transition: 0.7s;
}
a:link{
    color: #2d3c49;
    text-decoration-line: none;
}
a:visited{
    color:#2d3c49;
    text-decoration-line: none;
}
#name:hover{
    text-decoration-line: underline;
}
@media screen and (max-width:700px) and (min-width:446px){
    #name{
        font-size: 40px;
    }
    #title{
        font-size: 21px;
    }
    #head-logo{
        margin-left: 0%;
    }
    #head-content{
        margin-right: 0px;
    }
    #logo{
        width: 60px;
        height: 60px;
    }
    #bottom-head{
        font-size: 12px;
    }
    .social{
        width: 200px;
        height: 200px;
    }
    #first-image:hover{
        background-image: url("first-image.jpg");
        background-size: cover;
    }
    #first-image{
        width: 100%;
        margin-left: 0;
        margin-right:0;
    }
    #bottom-head{
        margin-left: 0;
    }
    header{
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width:445px) and (min-width:350px){
    #name{
        font-size: 30px;
    }
    #title{
        font-size: 15px;
    }
    #head-logo{
        margin-left: 0%;
    }
    #head-content{
        margin-right: 0px;
    }
    #logo{
        width: 50px;
        height: 50px;
    }
    #bottom-head{
        font-size: 8px;
    }
    .social{
        width: 150px;
        height: 150px;
    }
    #first-image:hover{
        background-image: url("first-image.jpg");
        background-size: cover;
    }
    #first-image{
        width: 100%;
        margin-left: 0;
        margin-right:0;
    }
    #bottom-head{
        margin-left: 0;
    }
    header{
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width:349px) and (min-width:320px){
    #name{
        font-size: 27px;
    }
    #title{
        font-size: 12px;
    }
    #head-logo{
        margin-left: 0%;
    }
    #head-content{
        margin-right: 0px;
    }
    #logo{
        width: 45px;
        height: 45px;
    }
    #bottom-head{
        font-size: 5px;
    }
    .social{
        width: 100px;
        height: 100px;
    }
    #first-image:hover{
        background-image: url("first-image.jpg");
        background-size: cover;
    }
    #first-image{
        width: 100%;
        margin-left: 0;
        margin-right:0;
    }
    #bottom-head{
        margin-left: 0;
    }
    header{
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width:319px) and (min-width:268px){
    #name{
        font-size: 24px;
    }
    #title{
        font-size: 10px;
    }
    #head-logo{
        margin-left: 0%;
    }
    #head-content{
        margin-right: 0px;
    }
    #logo{
        width: 40px;
        height: 40px;
    }
    #bottom-head{
        font-size: 3px;
    }
    .social{
        width: 50px;
        height: 50px;
    }
    #first-image:hover{
        background-image: url("first-image.jpg");
        background-size: cover;
    }
    #first-image{
        width: 100%;
        margin-left: 0;
        margin-right:0;
    }
    #bottom-head{
        margin-left: 0;
    }
    header{
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width:267px){
    #name{
        font-size: 21px;
    }
    #title{
        font-size: 8px;
    }
    #head-logo{
        margin-left: 0%;
    }
    #head-content{
        margin-right: 0px;
    }
    #logo{
        width: 36px;
        height: 36px;
    }
    #bottom-head{
        font-size: 2px;
    }
    .social{
        width: 45px;
        height: 45px;
    }
    #first-image:hover{
        background-image: url("first-image.jpg");
        background-size: cover;
    }
    #first-image{
        width: 100%;
        margin-left: 0;
        margin-right:0;
    }
    #bottom-head{
        margin-left: 0;
    }
    header{
        margin-left: 0;
        margin-right: 0;
    }
}